body {
    background-color: #d6d7d8;
}
.container {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.column {
    width: 387px;
}
.column .card {
    margin: 10px 0;
    padding: 5px;
    background-color: #fff;
    box-shadow: 5px 3px 10px 0 #222;
}
.card .lazyImageBox {
    background: url(../images/default.gif) no-repeat center center #f4f4f4;
    overflow: hidden;
}
.card .lazyImageBox img {
    width: 100%;
    opacity: 0;
    transition: opacity .3s ease;
}
.card p {
    font-size: 12px;
    line-height: 21px;
    color: black;
} 